/*bienvenidos*/

.Bienvenidos{
    background-color: $color-principal3;
    color: black;
    display: flex;
    justify-content: first baseline;
    height: 100%;
    align-items: center;
    flex-direction: column;
    padding-inline: 300px;
   
    .h2{
        padding-top: 30px;
        text-decoration-line: overline;
        text-decoration-line: inherit;
        background-color: rgba(71, 71, 99, 0.644);
        height: 120px;
        padding-inline: 60px;
        padding: 20px;
    }
    .p{
        color: antiquewhite;
        text-align: center;
        text-decoration-line: none;
        background-color: rgba(0, 0, 255, 0.466);
    }

}