.footer {
    background-color: #4e3c3c; 
    color: #fff; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 0;
    
    
  }
  
  .left,
  .center,
  .right {
    flex: 1;
    text-align: center;
  }
  
  .left {
    text-align: left;
  }
  
  .right {
    text-align: right;
  }