/* Media query para vista de celular*/
@media screen and (max-width: 990px){    
.main {
  width: 100%;
  height: 100%;
}
.Bienvenidos {
  padding: 20px;
  .h2 {
      padding: 20px;
  }
  .p {
      padding: 10px;
  }
}
  .tarjetitas {
    background-color: aquamarine;
    padding: 60px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.bebidas{
  padding: 20px;
  flex-direction: column;
  align-items: center;
  .bebida{
      width: 90%;
  }
  .monsterimagen{
      margin-right: 0;
      margin-bottom: 10px;
  }

}

.bebida1 {
  .texto1 {
    font-size: 10px;
  }
}
}

