@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.container-fluid {
  background-color: #15297c;
}
.container-fluid .kipmagen {
  width: 70px;
}
.container-fluid .nav-item {
  animation: rotate-center 0.6s ease-in-out both;
  margin: 5px;
}
.container-fluid .nav-item1 {
  animation-delay: 150ms;
  background-color: pink;
}
.container-fluid .nav-item2 {
  animation-delay: 300ms;
  background-color: pink;
}
.container-fluid .nav-item3 {
  animation-delay: 450ms;
  background-color: pink;
}
.container-fluid .nav-item4 {
  animation-delay: 600ms;
  background-color: pink;
}
.container-fluid .nav-item5 {
  animation-delay: 750ms;
  background-color: pink;
}
.container-fluid .nav-item:hover {
  transform: scale(1.2);
  transform: bold;
  font-size: 20px;
  text-decoration: underline;
}
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*bienvenidos*/
.Bienvenidos {
  background-color: #0cbccc;
  color: black;
  display: flex;
  justify-content: first baseline;
  height: 100%;
  align-items: center;
  flex-direction: column;
  padding-inline: 300px;
}
.Bienvenidos .h2 {
  padding-top: 30px;
  text-decoration-line: overline;
  text-decoration-line: inherit;
  background-color: rgba(71, 71, 99, 0.644);
  height: 120px;
  padding-inline: 60px;
  padding: 20px;
}
.Bienvenidos .p {
  color: antiquewhite;
  text-align: center;
  text-decoration-line: none;
  background-color: rgba(0, 0, 255, 0.466);
}

/*abajo index*/
.titulo-medio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: darkslategrey;
  border-radius: 10px;
}

/* bebidas*/
.bebidas {
  background-color: #333;
  display: flex;
  padding: 60px;
  gap: 10%;
  justify-content: center;
}

.conteiner {
  display: flex;
}

.bebida {
  background-color: rgb(11, 17, 99);
  max-width: 50%;
  border-radius: 40px;
  display: flex;
  flex: 1;
  flex-direction: flex-start;
  gap: 30px;
  align-items: flex-start;
}

.bebida_boton:hover {
  background-color: rgba(71, 71, 99, 0.644);
  transform: scale(1.3);
}

.monstervendido {
  flex: 0 0 100%;
  margin-right: 0;
  margin-bottom: 20px;
}

.texto {
  flex: 1;
  padding-inline: 30px;
  color: antiquewhite;
  text-align: center;
}

.bebida_titulo {
  color: rgb(94, 101, 189);
  font-size: larger;
}

.footer {
  background-color: #4e3c3c;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 0;
}

.left,
.center,
.right {
  flex: 1;
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

/* Sección "Productos" */
.Productos {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: darkslategrey;
  padding: 20px;
  border-radius: 10px;
}
.Productos .imp {
  display: inline;
  justify-content: center;
  padding-top: 30px;
  text-decoration-line: underline;
  text-decoration-line: inherit;
  background-color: rgba(71, 71, 99, 0.644);
  height: 90px;
  padding-inline: 15px;
}
.Productos .textimp {
  display: flex;
  color: antiquewhite;
  text-align: center;
  text-decoration-line: none;
  background-color: rgba(24, 24, 59, 0.4666666667);
}

.bebida1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 14px;
  height: auto;
  width: 96%;
}
.bebida1 .monsterimagen {
  display: flex;
  width: 180px;
  height: 100%;
  padding-right: 20px;
}
.bebida1 .texto1 {
  flex: 1;
  font-size: 20px;
}

.carousel-slide {
  width: 300px;
  display: inline-block;
}

.map {
  background-color: darkslategray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px 10%;
}

.informacion {
  background-color: darkslategray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px 10%;
}

.whatsicon,
.instaicon,
.faceicon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.whatsapp {
  width: 50px;
}

/* Media query para vista de celular*/
@media screen and (max-width: 990px) {
  .main {
    width: 100%;
    height: 100%;
  }
  .Bienvenidos {
    padding: 20px;
  }
  .Bienvenidos .h2 {
    padding: 20px;
  }
  .Bienvenidos .p {
    padding: 10px;
  }
  .tarjetitas {
    background-color: aquamarine;
    padding: 60px;
    display: flex;
    gap: 30px;
    flex-direction: column;
  }
  .bebidas {
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }
  .bebidas .bebida {
    width: 90%;
  }
  .bebidas .monsterimagen {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .bebida1 .texto1 {
    font-size: 10px;
  }
}
.tarjetitas {
  background-color: aquamarine;
  padding: 60px;
  display: flex;
  gap: 30px;
}

.tarjetita {
  background-color: aqua;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.informacion {
  padding: 0 20px 20px 20px;
}

.tarjetita__imagen {
  max-width: 100%;
}/*# sourceMappingURL=styles.css.map */